<?xml version="1.0"?>
<!--
    /**
    *
    *  @author:    Farhan Islam <farhan@orvisoft.com>
    *  @module:    OrviSoft Attribute Groups (https://github.com/askwhyweb/Attribute-Groups-Magento2)
    *
    **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="attributegroups" frontName="attributegroups">
            <module name="OrviSoft_AttributeGroups" before="Magento_Adminhtml" />
        </route>
    </router>
</config>