<?xml version="1.0" ?>
<!--
    /**
    *
    *  @author:    Farhan Islam <farhan@orvisoft.com>
    *  @module:    OrviSoft Attribute Groups (https://github.com/askwhyweb/Attribute-Groups-Magento2)
    *
    **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="attribute_groups" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="11" translate="label">
			<label>Attribute Groups</label>
			<tab>catalog</tab>
			<resource>OrviSoft_AttributeGroups::config_orvisoft_attributegroups</resource>
			<group id="configuration" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="11" translate="label">
				<label>Configuration</label>
				<field id="status" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Status</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>